@{
    ViewData["Title"]  =  "Configuration Settings for Spring Cloud Config Server";
}
<h2>@ViewData["Title"]</h2>

<h2>@ViewData["Title"]</h2>

<h4>spring:cloud:config:enabled = @ViewData["Enabled"]</h4>
<h4>spring:cloud:config:env = @ViewData["Environment"]</h4>
<h4>spring:cloud:config:failFast = @ViewData["FailFast"]</h4>
<h4>spring:cloud:config:name = @ViewData["Name"]</h4>
<h4>spring:cloud:config:label = @ViewData["Label"]</h4>
<h4>spring:cloud:config:username = @ViewData["Username"]</h4>
<h4>spring:cloud:config:password = @ViewData["Password"]</h4>
<h4>spring:cloud:config:access_token_uri = @ViewData["AccessTokenUri"]</h4>
<h4>spring:cloud:config:client_id = @ViewData["ClientId"]</h4>
<h4>spring:cloud:config:client_secret = @ViewData["ClientSecret"]</h4>
<h4>spring:cloud:config:validate_certificates = @ViewData["ValidateCertificates"]</h4>
