@{
    ViewBag.Title = "Configuration Settings for Spring Cloud Config Server";
}
<h2>@ViewBag.Title.</h2>

<h4>spring:cloud:config:enabled = @ViewBag.Enabled</h4>
<h4>spring:cloud:config:env = @ViewBag.Environment</h4>
<h4>spring:cloud:config:failFast = @ViewBag.FailFast</h4>
<h4>spring:cloud:config:name = @ViewBag.Name</h4>
<h4>spring:cloud:config:label = @ViewBag.Label</h4>
<h4>spring:cloud:config:username = @ViewBag.Username</h4>
<h4>spring:cloud:config:password = @ViewBag.Password</h4>
<h4>spring:cloud:config:validate_certificates = @ViewBag.ValidateCertificates</h4>
